.details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 2rem;
  justify-content: center;
}

.principalInfo {
  display: flex;
  flex-direction: column;
  min-height: 375px;
  min-width: 400px;
  max-width: 750px;
}

.title {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
}

.title h1 {
  margin: 0;
}

.title h5 {
  margin: 0;
  color: #833;
}

.img {
  width: 400px;
  border-radius: 2rem;
}

tr {
  background-color: #833;
}

tr:nth-child(even) {
  background-color: #88333350;
}
.header {
  background-color: red !important;
  height: 30px;
  color: white;
  letter-spacing: 2px;
}

@media screen and (max-width: 425px) {
  .details {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
  }

  .power {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .title {
    height: auto;
  }

  .details {
    margin: 1rem;
  }

  .power {
    width: 400px;
  }
}
