/* NO FAV */

.noFav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noFavImg {
  max-width: 50%;
}

.ir {
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
  background-color: red;
  box-shadow: 0 5px 5px -5px #ff000015, 0 10px 10px -5px #ff000015,
    0 15px 15px -5px #ff000015, 0 20px 20px -5px #ff000015;
  border: 0px solid #ff000015;
  transition: 0.25s ease-in-out;
  text-transform: uppercase;
  padding: 15px 15px 0 15px;
}

.ir:hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
}

/* NO FAV */

.title {
  text-align: center;
  font-family: Motserrat, sans-serif;
  color: #fff;
}

.cuadricula {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Motserrat, sans-serif;
  padding: 2rem;
  gap: 1rem;
}

.favCard {
  position: relative;
  border-radius: 2rem;
}

.favCard img {
  border-radius: 2rem;
}

.info {
  width: 100%;
  height: 60px;
  z-index: 10;
  bottom: 0px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(34, 34, 34, 0) 100%
  );
  border-radius: 0 0 2rem 2rem;
}

.info p {
  margin: 0 0 5px 0;
}

.postStarDel {
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  padding: 5px;
  height: 22px;
  width: 100px;
  display: flex;
  color: white;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  padding-left: 30px;
  border-radius: 2rem;
  align-items: center;
  letter-spacing: 1px;
  background-color: red;
  justify-content: center;
}

.starSelected {
  position: absolute;
  z-index: 15;
  top: 1px;
  left: 5px;
  fill: none;
  width: 30px;
  stroke: blue;
  stroke-width: 2;
  stroke-dasharray: 0;
  stroke-linecap: butt;
  transition: 0.25s ease-in-out;
}

.starSelected:hover {
  background-color: red;
  border-radius: 2rem;
  transform: scale(1.25);
  transition: 0.25s ease-in-out;
}
