.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 500px;
  font-family: Montserrat, sans-serif;
}

.login h2 {
  margin: 2rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 1rem auto;
  background-color: aliceblue;
  color: black;
}

.form input:disabled {
  margin: 1rem auto;
  background-color: gray;
  color: black;
  cursor: not-allowed;
}
